@using MusicSearch.Models
@model SearchResult
@{
    ViewBag.Title ="Search";
}
<h3 id="myreqest">@Model.SearchReqest</h3>
<div class="row">
        <div class="col-md-12">
            <h3>Local:</h3>
            <div id="localList">
               @Html.Partial("_SearchResult", Model.MyLocal)
            </div>
        </div>
        <hr />
    <div class="col-md-12">
        <h3>Online:</h3>
        <div id="scrolList">
            @Html.Partial("_SearchResult", Model.MyOnline)
        </div>
    </div>
</div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery-3.1.1.js")
@Scripts.Render("~/Scripts/ScrollingSearch.js")