@using MusicSearch.Models
@model SearchResult
@{
    ViewBag.Title ="Search";
}

@if (Model != null)
{
    <h3 id="myreqest">@Model.SearchReqest</h3>
    <h3>Artists:</h3>
    <div id="scrolListArtists">
        @Html.Partial("_Items", Model.Authors)
    </div>
    <h3>Albums:</h3>
    <div id="scrolListAlbums">
        @Html.Partial("_Albums", Model.Albums)
    </div>
    <h3>Tracks:</h3>
    <div id="scrolListTracks">
        @Html.Partial("Tracks", Model.Tracks)
    </div>
}
else
{
    <h1 id="message"> No more search result at site...</h1>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery-3.1.1.js")
@Scripts.Render("~/Scripts/ScrollingSearch.js")