@using MusicSearch.Models
@model List<Track>
@{
    ViewBag.Title = "Tracks";
}
@if (Model != null && Model.Count != 0)
{
    <ul class="media-list">
        @foreach (var item in Model)
        {
            <li class="media">
                <div class="media-left">                   
                        <a href="#">
                            @if (item.ImageLarge != null)
                            {
                                <img src="@item.ImageLarge" height="50" width="50" />
                            }
                            else
                            {
                            <img src="https://icon-icons.com/icons2/936/PNG/512/play-sign_icon-icons.com_73455.png" height="50" width="50">
                            }
                        </a>
                    </div>             
                <div class="media-body">
                    <h4 class="media-heading">@item.Artist - @item.Name</h4>
                   @if (item.Listeners != 0)
                    {
                       <h5>Listeners: @item.Listeners</h5> 
                    }
                    else
                    {
                        <h5>Duration: @item.Duration</h5>
                   }
                </div>
            </li>
        }
</ul>
}
else
{
    <h1> No tracks at site...</h1>
}

