<!DOCTYPE html>
@using System.Text.RegularExpressions;
@{   
    var url = Server.UrlDecode(Request.Url.AbsolutePath.Replace("%20"," "));
}

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"  style="width:100%">
            <div class="navbar-header">               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>  
                @Html.ActionLink("Top Artists", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">              
                <ul class="nav navbar-nav">
                    <li style="margin-top:8px">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Online-offline
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/Index">Online</a></li>
                                <li><a href="@Request.Url.AbsolutePath?onOff=offline">Offline</a></li>
                            </ul>
                        </div>
                    </li>
                    @for (int i = 3; i < url.Split('/').Length; i+=2)
                    {
                         <li style="color:aliceblue">@Html.ActionLink(" " + url.Split('/')[i],    String.Join("/", url.Split('/'), 2, i - 1), "Home")</li>
                    }
                </ul>
                <div class="navbar-right" style="max-width:40%;margin-top:8px">
                    <div class="container" style="width:100%">      
                        <form action="/Home/Search/Reqest" method="post" style="width:inherit">
                            <div class="col-sm-12">
                                <div id="imaginary_container">
                                    <div class="input-group stylish-input-group">
                                        <input type="text" class="form-control" placeholder="Search" id="reqest" name="reqest">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>                        
                    </div>

                </div>
            </div>
        </div>     
    </div>
    <div class="container body-content" style="width:100%">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style type="text/css">
    .stylish-input-group .input-group-addon {
        background: white !important;
    }
    .form-control{
        max-width:100%;
    }
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
</style>